.pageContainer {
  text-align: center; /* Center the header */
  margin: 0 auto; /* Centers the container horizontally */
  padding: 20px;
}

.headerTitle {
  margin-bottom: 1rem; /* Add margin below the header */
}
