/* Navbar.module.css */

.navbar {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  padding: 10px 20px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  position: relative; /* Ensure the positioning context for absolute positioning */
}

.navLink {
  text-decoration: none;
  display: inline-block;
}

.navImage {
  display: block;
  width: 50px;
  height: auto;
  transition: opacity 0.3s ease;
}

/* Container for left-side links */
.leftSideLinks {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-right: auto; /* Pushes the button container to the right */
}

.borrowLink,
.favoritesLink,
.shareLink {
  text-decoration: none;
  color: #224eff;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.borrowLink:hover,
.favoritesLink:hover {
  color: black; /* Color when hovered */
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.favoritesLink {
  margin-right: 5px; /* Adjust spacing as needed */
}

.shareLink {
  margin-right: 20px; /* Adjust spacing as needed */
}

/* Mobile styles */
@media (max-width: 768px) {
  .favoritesLink .shareLink {
    display: none; /* Hide links on smaller screens */
  }

  .navLink {
    margin-right: 20px; /* Adjust spacing for smaller screens */
  }

  .buttonContainer {
    margin-left: auto; /* Ensure buttons are aligned properly */
  }
}

@media (max-width: 480px) {
  .navImage {
    width: 40px; /* Smaller logo for very small screens */
  }

  .borrowLink,
  .favoritesLink,
  .shareLink {
    display: none; /* Ensure these are hidden on very small screens */
  }
}
