/* Navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navLink,
.userInfo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navImage,
.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.leftSideLinks {
  display: flex;
  gap: 20px;
}

.borrowLink,
.favoritesLink,
.shareLink {
  text-decoration: none;
  color: #224eff;
  font-weight: bold;
}

.searchContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.button {
  margin: 0;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .favoritesLink,
  .shareLink {
    display: none;
  }

  .navLink {
    margin-right: 20px;
  }

  .buttonContainer {
    margin-left: auto;
  }
}

@media (max-width: 480px) {
  .navImage {
    width: 40px;
  }

  .borrowLink,
  .favoritesLink,
  .shareLink {
    display: none;
  }
}
